<div id="page-content" class="row page">

   <div id="primary" class="nine columns">

     <markdown base="pages/tell-me-why/" data="{{ content }}">Chargement en cours ...</markdown>
      
   </div>

   <div id="secondary" class="three columns end">

      <aside id="sidebar">
         <div class="widget widget_text">
            <h5 class="widget-title">A propos de moi</h5>
            <div class="textwidget"><p>
            <a href="#"><img width="64" height="64" class="pull-left" alt="sample-image" src="assets/images/avatar.png"></a>
            La journée, je développe des applications de gestion
            de la relation client. Et le soir, j'expérimente des
            trucs pour les journées suivantes ;-) </p></div>
        </div>

      </aside>

   </div> <!-- Secondary End-->

</div>
